.App {
  text-align: center;
  display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.contain-cards{
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}


.nada{
  height: 130px;
  
  width: 400px;
}
@media screen and (max-width: 767px) {
  .nada{
    height: 180px;
  }
  .contain-cards{
    width: 410px;
    margin-left:25px;
  }
}



